{%load static%}
<footer>
    <img src="{%static 'img/icono.png'%}" alt="" width="128">
    <ul>
        <li><a href="https://github.com/luisHidalgo-git/CursoDjango">https://github.com/luisHidalgo-git/CursoDjango</a></li>
        <li><a href="https://github.com/luisHidalgo-git/CursoDjango">https://github.com/luisHidalgo-git/CursoDjango</a></li>
        <li><a href="https://github.com/luisHidalgo-git/CursoDjango">https://github.com/luisHidalgo-git/CursoDjango</a></li>
    </ul>
    <ul>
        <li><a href="https://github.com/luisHidalgo-git/CursoDjango">https://github.com/luisHidalgo-git/CursoDjango</a></li>
        <li><a href="https://github.com/luisHidalgo-git/CursoDjango">https://github.com/luisHidalgo-git/CursoDjango</a></li>
        <li><a href="https://github.com/luisHidalgo-git/CursoDjango">https://github.com/luisHidalgo-git/CursoDjango</a></li>
    </ul>
    <ul>
        <li><a href="https://github.com/luisHidalgo-git/CursoDjango">https://github.com/luisHidalgo-git/CursoDjango</a></li>
        <li><a href="https://github.com/luisHidalgo-git/CursoDjango">https://github.com/luisHidalgo-git/CursoDjango</a></li>
        <li><a href="https://github.com/luisHidalgo-git/CursoDjango">https://github.com/luisHidalgo-git/CursoDjango</a></li>
    </ul>
    <p>Footer</p>
</footer>